<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" /> 
    <link rel="stylesheet" href="/css/styles.css">
</head>


            
<body>


    <%- include('./partials/header')%>

    <main class="mainformularios">


        <form action="/user/register" method="POST" class=formularioregister>
                         <article>
                <label>¡Bienvenidx! Por favor, complete con su informacion: </label>
                        </article>
                        </div>              
                        <div>
                            <label>Nombre : </label>
                            <input type="text" name="first_name" placeholder="Matias Giles">
                        </div>

                        <div>
                            <label>Apellido : </label>
                            <input type="text" name="last_name" placeholder=" Giles">
                        </div>
                        <div>
                            <label>Nombre de usuari@ </label>
                            <input type="text" name="alias" placeholder="Cree un usuario">
                        </div>
                        <div>
                            <label>Fecha de Nacimiento</label>
                            <input type="Date" name="birth_date">
                        </div>
                        <div>
                            <input type="text" name="adress" placeholder="Ingrese su domicilio">
                        </div>
                      <div>
                        <label>Es usted un: </label>
                        <div id="contenedorRadio">
                            <input type="radio" name="user_type">Comprador</input>
                            <input type="radio" name="user_type">Vendedor</input>
                        </div></div> 
                        <!-- <div>
                            <label>Categorias que le interesan </label>

                                    <div id="checkbox">
                            <input type="checkbox" name="Electro">Electro
                            <input type="checkbox" name="Moda">Moda</input>
                            <input type="checkbox" name="Moda">Hogar</input>
                            <input type="checkbox" name="Moda">Juguetería</input>
                            <input type="checkbox" name="Moda">Vida Sana</input></div>
                            

                        </div> -->
                        <div>
                            <label>Seleccione una foto de Perfil</label>
                            <input type="file" name="profile_picture"></input>
                        </div>
                        <div>
                            <label>Cree una contraseña</label>
                            <input type="password" name="password"></input>
                        </div>
                        <div>
                            <label>Confirmar contraseña</label>
                            <input type="password" name="contraseña"></input>
                        </div>

                        <div id="botones">
                        <button type="reset">Borrar</button>
                        <button type="submit">Enviar</button>
                        </div>




                </form>
        
        </main>
        <footer>
            <div class= "contenedor-tarjeta">
            <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o 
                    efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
    
            <div class= "contenedor-envio">
             <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>           
            </div>
            <div class= "contenedor-seguridad">
            <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
                <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
                
        </footer>
    
</body>
</html>